.hero_container {
  position: relative;
  text-align: left;
  line-height: 10px;
  margin-top: 2rem;
  /* color: white; */
}

img {
  height: 100%;
  width: 100%;
}

.hero_container-left {
  position: absolute;
  top: 40%;
  left: 5%;
}

.hero_container-left h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  width: 65%;

  color: #fcfcfc;
}

.hero_container-left p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  width: 65%;
  color: #fcfcfc;
}

.hero_container-right {
  position: absolute;
  top: 25%;
  right: 20%;
}
