.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 8vh;
    flex-wrap: wrap;
    box-shadow: 0px 2px 24px rgba(183, 183, 183, 0.25);
}

.nav_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.nav_logo p{
    font-style: var(--font-family);
    font-size: 33px;
}



span{
    color:blue;
}